*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* 
    Main header
*/

.main-header{
    width: 100%;
    background-color: #AFBA39;
    position: fixed;
    top: 0;
}

.main-header-logo{
    display: inline-block;
    height: 58px;
    width: 34,29px;
    margin-left: 11px;
}

.main-header-titler{
    color: white;
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 15px;
    font-size: 24px;
    text-align: center;
}

/* 
    Main container
*/

.main-container{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 
    Section chamada itens \/
*/

/* 
    Informações da chamada {Titulo, Requerente, Status, Descrição}
*/

.container-chamadas{
    margin: 40px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.container-chamadas > ul{
    width: 521px;
    margin: 40px;
}

.container-chamadas > ul > li{
    margin-bottom: 20px;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.container-chamadas > ul > li:hover{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 1);
}

.chamada-itens{
    display: inline-block;
    height: 56px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.container-li-info{
    font-size: 14px;
    display: inline-block;
    width: 400px;
    margin-left: 5px;
}

.container-li-info > ul{
    list-style: none;
    margin-top: 5px;
}

.container-li-info > ul > li{
    display: inline-block;
}

.chamada-li-title{
    display: inline-block;
    margin-right: 200px;
    color: #262626;
}

.chamada-li-requerente{
    margin-right: 10px;
    color: #262626;
}

.chamada-li-status{
    color: #262626;
}

.container-li-info > p{
    margin-top: 5px;
    color: #262626;
}

/* 
    Botões da chamada
*/

.chamada-btns{
    display: inline-block;
    margin: auto 0;
    width: 91px;
    min-width: 91px;
}

.chamada-btns > ul{
    list-style: none;
}

.chamada-btns > ul > li{
    display: inline-block;
}

.chamada-btn{
    margin: 5px 5px;
}

/* 
    Section formulário para chamado
*/

.container-form{
    display: inline-block;
    margin: 40px;
}

.container-form > form{
    width: 521px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 40px;
}

.container-form > form > h1{
    font-size: 22px;
    line-height: 26px;
}

.container-form > form > hr{
    margin: 10px 0 30px 0;
    border: 1px solid #E5E5E5;
}

.input-form{
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: 5px 5px 10px 10px;
    box-sizing: border-box;
    margin: 15px auto;
}

.input-form:hover{
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 1);
}

.container-form > form > textarea{
    resize: none;
    margin-bottom: 20px;
    height: 167px;
}

.btn-default{
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: #AFBA39;
    font-size: large;
    color: white;
    padding: 14px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    margin-top: 40px;
    margin-bottom: 40px;
}



